body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#wrapper {
  background-image: url(../images/DPD_Splash_Bkgd_Image.jpg);
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.over-lay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

header nav {
  padding: 0 30px !important;
}

header .logo {
  width: 105px;
}

header li {
  display: inline-block;
  margin: 0 5px;
}

header a {
  display: block;
}

header .facebook {
  background: url(../images/facebook.png) no-repeat;
  width: 48px;
  height: 48px;
  background-size: 100% 100%;
  -webkit-transition: .8s;
  transition: .8s;
}

header .facebook:hover {
  background: url(../images/facebook-hover.png) no-repeat;
  width: 48px;
  height: 48px;
  background-size: 100% 100%;
  -webkit-transition: .8s;
  transition: .8s;
}

header .instagram {
  background: url(../images/instagram.png) no-repeat;
  width: 48px;
  height: 48px;
  background-size: 100% 100%;
  -webkit-transition: .8s;
  transition: .8s;
}

header .instagram:hover {
  background: url(../images/instagram-hover.png) no-repeat;
  width: 48px;
  height: 48px;
  background-size: 100% 100%;
  -webkit-transition: .8s;
  transition: .8s;
}

header .pintrest {
  background: url(../images/pintrest.png) no-repeat;
  width: 48px;
  height: 48px;
  background-size: 100% 100%;
  -webkit-transition: .8s;
  transition: .8s;
}

header .pintrest:hover {
  background: url(../images/pintrest-hover.png) no-repeat;
  width: 48px;
  height: 48px;
  background-size: 100% 100%;
  -webkit-transition: .8s;
  transition: .8s;
}

header .yelp {
  background: url(../images/yelp.png) no-repeat;
  width: 48px;
  height: 48px;
  background-size: 100% 100%;
  -webkit-transition: .8s;
  transition: .8s;
}

header .yelp:hover {
  background: url(../images/yelp-hover.png) no-repeat;
  width: 48px;
  height: 48px;
  background-size: 100% 100%;
  -webkit-transition: .8s;
  transition: .8s;
}

main {
  height: 72%;
}

main .outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

main .middle {
  display: table-cell;
  vertical-align: middle;
}

main .banner h1 {
  position: relative;
  font-size: 40px;
  color: #fff;
  text-align: center;
  font-family: 'EB Garamond', serif;
  line-height: 1;
  padding: 0 0 30px;
  margin: 0 auto 30px;
}

@media (min-width: 1025px) {
  main .banner h1 {
    width: 650px;
  }
}

@media (max-width: 767px) {
  main .banner h1 {
    font-size: 24px;
  }
}

main .banner h1:before {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  width: 200px;
  height: 2px;
  background: #fff;
}

main .banner span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 14px;
  color: #fff;
  display: block;
  margin: 0 0 50px;
}

main .banner form {
  padding: 0 !important;
}

main .banner input[type=email] {
  background: transparent;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 0;
  padding: 20px;
}

main .banner input::-webkit-input-placeholder {
  color: #fff;
}

main .banner input:-ms-input-placeholder {
  color: #fff;
}

main .banner input::-ms-input-placeholder {
  color: #fff;
}

main .banner input::placeholder {
  color: #fff;
}

main .banner .input-group-addon {
  background-color: #fff;
  padding: 9px 20px;
  color: #000;
  border: 0;
  background-image: url(../images/Arrow.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 42px;
  background-size: 30% 50%;
  background-position: 50%;
  cursor: pointer;
}

footer {
  text-align: center;
  color: #fff;
}

footer span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
}

footer span a {
  color: #fff;
  text-decoration: none;
}

footer span a:hover {
  color: #fff;
  text-decoration: none;
  text-decoration: underline;
}

footer p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */